:root {
  --background: #A65337; 
  --mainColor: #F28B69;
  --mainText: #FFD5A8;
  --highlightColor: #69F2D1;

}
.App {
  display: grid;
  height: 100vh;
  grid-auto-rows: minmax(150px, auto);
  grid-template-rows: 1fr 1fr 3fr 2fr;
  font-size: calc(10px + 2vmin);
  background-color: var(--mainColor);
  grid-template-areas:
  "header"
  "subheader"
  "main"
  "footer";
}
header,
footer,
.subheader,
main {
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}
.subheader {
  display: flex;
  color: #DDFFFF;
  font-weight: bold;
  grid-area: subheader;
  background-color: var(--highlightColor);
}
header {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-area: header;
}
main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
body {
  font-size: calc(10px + 2vmin);
  background-color: var(--background);
  color: var(--mainText);
}
button {
  background-color: var(--mainText);
  border: none;
  color: var(--background);
}
